<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<head>
	<title>Instructors</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- CSS BootStrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/script.js}" defer></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CourseMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/instructors}">Instructors</a>
      </li>
      <li class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          Cohorts
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{/cohorts}">Cohort List</a></li>
          <li><a class="dropdown-item" th:href="@{/cohortInstructor}">Upcoming Cohorts</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> 
<div class="upcohort-container">
</div>
<div class="cohortStatus-container">
	<table class="table table-hover">
		<thead>
		    <tr>
		      <th scope="col">Cohort ID</th>
		      <th scope="col">Program</th>
		      <th scope="col">Start Date</th>
		      <th scope="col">End Date</th>
		      <th scope="col">Status</th>
		    </tr>
		</thead>
	  	<tbody>
		 <tr th:each ="cohort : ${cohorts}">
			<td th:text="*{cohort.cohortId}"></td>
			<td th:text="*{cohort.programName}"></td>
			<td th:text="*{cohort.startDate}"></td>
			<td th:text="*{cohort.endDate}"></td>
			<td th:if="*{cohort.status} == 'unassigned'">
				<p>unassigned</p>
			</td>
			<td th:unless="*{cohort.status} == 'unassigned'">
				<p id="good-message">assigned</p>
			</td>
			<!-- Assign/Update Buttons -->
			<td th:if="*{cohort.status} == 'unassigned'">
				<a th:href = "@{/cohortInstructor/update/{id}(id=${cohort.cohortId})}" class="btn btn-danger btn-sm mb-3">Assign</a>
			</td>
			<td th:unless="*{cohort.status} == 'unassigned'">
				<a th:href = "@{/cohortInstructor/update/{id}(id=${cohort.cohortId})}" class="btn btn-info btn-sm mb-3">Update</a>
			</td>
	  </tbody>
	</table>
</div>
</body>
</html>