<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<head>
	<title>Instructors</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" th:href="@{/instructors}"> Instructors</a>
      <a class="nav-item nav-link" href="@{/instructors}">Cohorts</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
	<div class="container">
		<div class="row">
			<h1>List Instructors</h1>
		</div>
		<div>
			<a th:href = "@{/instructors/new}" class="btn btn-primary btn-sm mb-3">Add Instructor</a>
		</div>
		<!-- Bootstrap table -->
		<table class="table table-striped table-dark table-bordered">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Program</th>
					<th>Make Changes</th>
				</tr>
			</thead>
			<!--Display the list dynamically. Access instructors like a for-each loop -->
			<tbody>
				<tr th:each ="instructor : ${instructors}">
					<td th:text="*{instructor.firstName}"></td>
					<td th:text="*{instructor.lastName}"></td>
					<td th:text="*{instructor.email}"></td>
					<td th:text="*{instructor.program}"></td>
					<td>
						<!-- Calls update/{id} handler and binds current instructor's id to handler -->
						<a th:href = "@{/instructors/update/{id}(id=${instructor.id})}" class="btn btn-primary btn-sm mb-3">Update</a>
						<a th:href = "@{/instructors/{id}(id=${instructor.id})}" class="btn btn-danger btn-sm mb-3">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>